</head>
<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a class="active" href="/">Home</a></li>
                <li class="main-header__item"><a href="/user/login">Login</a></li>
                <li class="main-header__item"><a href="/user/register">Register</a></li>
            </ul>
        </nav>
    </header>