<%-include('includes/head.ejs')%>
<%-include('includes/navigation.ejs')%>
<main>
    <h1>Service Centres</h1>
    <p>Welcome to service centres</p>
    <h3>Users list</h3>
    <div>
    <% if(users.length > 0) { %>
        <ol>
            <% users.forEach ((user)=>{ %>
                <li><%=user.username%></li>

            <% }); %>
        </ol>
    <% } else { %>
        <h4>No users </h4>
    <% } %>
    </div>
</main>

<%-include('includes/end.ejs')%>